canvas, body{
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
}

body{
    overflow: hidden;
    background-color: #555;
    text-align: center;
}

canvas{
    background-color: #000;
    display: inline-block;
}

@keyframes pop {
    0%{
        transform: scale(0.65);
    }
    95%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.death{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: appear 0.3s ease 0s 1 normal;
    text-align: center;
}
.deathCard{
    top: 20%;
    padding: 16px;
    border-radius: 2px;
    display: inline-block;
    text-align: left;
    position: relative;
    background-color: #FFF;
    color: #000;
    animation: pop 0.3s ease 0s 1 normal;
}
.deathCard .title{
    font-size: 3em;
}
.deathCard #score{
    font-size: 1.5em;
    font-weight: bold;
}
.deathCard span{
    font-weight: bold;
}
#highscore{
    opacity: 0;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 4em;
    font-size: 4em;
    background-color: #000;
    z-index: 1;
    transition: 0.15s;
    opacity: 0;
}
